/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #4CAF50;
    height: 95px;
  padding: 5px 5px;
}

.btn{
border-style: solid;
  border-color: coral;}